* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    height: 5%;
    background-color: grey;
    color: white !important;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 30px;
    position: absolute;
}

h1{
    font-family: 'Noto Serif Balinese', serif;
}

.error {
    color: red;
}


#valider {
    margin-left: 25% !important;
}

#connexion{
    width: 20%!important;
    margin-left: 40%!important;
    margin-top: 5%!important;
}

hr{
    width: 50%;
    margin-left: 25%;
    height: 2px!important;
    margin-bottom: 5%;
}